/* 灰度模式 */
/*html {
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
  -ms-filter: grayscale(95%);
  -o-filter: grayscale(95%);
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=.95);
}*/


/* 代码块 */
pre, code, kbd, samp {
  font-family: "PingFang SC" !important;
  /* font-weight: bold; */
  color: var(--vp-c-brand) !important;
  

}

.content {
  font-size: 15px; /* 你可以根据需要调整这个值 */
}

.VPDoc h1 {
  background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "none";
  letter-spacing: 1px; 
  font-size: 32px; 
}

.vp-doc h2 {
  font-family: "PingFang SC";
  margin: 48px 0 16px;
  letter-spacing: 1px;
  padding-top: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
}

.vp-doc h3 {
  font-family: "PingFang SC";
  letter-spacing: 1px;
  font-size: 20px;
  margin: 32px 0 0;
}

.vp-doc h4 {
  letter-spacing: 1px;
  font-family: "PingFang SC";
  font-size: 16px;
  margin: 20px 0 0;
}

/* .vp-doc h4 {
  font-size: 18px;
} */

.VPDoc .content-container img {
  border-radius: 5px;
}

/* slim scroll bar for windows based web browsers - works on firefox */
* {
  scrollbar-color: var(--vp-c-gutter) var(--vp-button-alt-bg);
  scrollbar-width: thin;
}

/* slim scroll bar for windows based web browsers - works on chrome, edge, and safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* scrolling handle */
::-webkit-scrollbar-thumb {
  background: var(--vp-c-gutter);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--vp-button-alt-hover-bg);
}

/* scrolling track/backgronund color */
::-webkit-scrollbar-track {
  background: var(--vp-button-alt-bg);
}

/* mathjax3.css */
mjx-container {
  display: inline-block;
  margin: auto 2px -2px;
}

mjx-container > svg {
  margin: auto;
}

.chinese-zodiac {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10.5px;
  top: -1px;
  background: #fff;
  border: 1px solid #84b9e5;
  border-radius: 50%;
  cursor: pointer;
}

.text-color-red {
  --color-red: 254 45 70;
  --tw-text-opacity: 1;
  color: rgb(var(--color-red)/var(--tw-text-opacity));
}

.text-color-orange {
  --color-orange: 255 102 0;
  --tw-text-opacity: 1;
  color: rgb(var(--color-orange)/var(--tw-text-opacity));
}

.text-color-yellow {
  --color-yellow: 250 169 14;
  --tw-text-opacity: 1;
  color: rgb(var(--color-yellow)/var(--tw-text-opacity));
}

.text-color-gray {
  --color-gray: 145 149 163;
  --tw-text-opacity: 1;
  color: rgb(var(--color-gray)/var(--tw-text-opacity));
}

.mr-\[6px\] {
  margin-right: 6px;
}


/* 首页不需要padding，其他页面需要。首页VPNavBar透明 */
.VPContent {
    padding-top: 0 !important;
}

/* 有侧边栏的页面：保留 VPContent 的 padding-top */
.VPContent.has-sidebar {
  padding-top: var(--vp-nav-height) !important;
}


/* 搜索框透明 */
.DocSearch-Button {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
}


/* 自定义info 自定义块颜色 */
.custom-block.info {
  border: 1px solid var(--vp-c-brand) !important; /* 边框颜色 */
  background-color: transparent; /* 去掉背景颜色 */
}

  /* 去掉原本的svg图 */
.vp-doc .custom-block.info:before{
  content: none!important;
}

  /* 新增信息容器:svg图 */
.custom-block.info [class*="custom-block-title"]::before {
    content: ' ';
    /* background-image:none; */
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23009400' d='M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z'/%3E%3C/svg%3E") !important;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 4px;
    left: -5px;
    top: -2px;
}

    /* 展开框 */
  .custom-block.details {
    border-left: 10px solid var(--vp-c-brand) !important; /* 边框颜色 */

  }

.NotFound {
  

  .code {
    padding: 96px 32px 30px;
    font-size:100px;
    font-weight: bold;
  }
  
  
  .title {
    padding: 10px 0px;
    color: var(--vp-c-brand) !important;
  }
}

.vp-doc a{
  text-decoration: none !important;
}

.vp-doc .custom-block {
  font-family: "PingFang SC" !important;
}

.all-features-page {
  .content-container{
    margin-top: 80px;
  }
}