@use './rainbow.scss';
@use './vars.scss';
@use './overrides.scss';
// @import './medium-zoom.scss';
@use './linkcard.scss';
@use './kbd.scss';
@import './vp-code-group.css';
@import './vp-code.css';
// @import './tailwind.css';

/* 首页不需要padding，其他页面需要 */
.VPContent {
	padding-top: 0 !important;
}
/* 文章背景 */
.VPContent.has-sidebar {
	padding-top: var(--vp-nav-height) !important;
	background-position: 50%;
  	background-size: 20px 20px;
  	background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, transparent 0),
    linear-gradient(1turn, rgba(60, 10, 30, 0.04) 3%, transparent 0);
}

//便签作者、时间变色
// :root .meta-wrapper{
// 	--vp-c-brand: #ce77e8;
// 	--vp-c-brand-dark: #aa10d9;
// 	--vp-layout-max-width: 1630px;
// 	// color: var(--vp-c-brand);
// }

//全局nav选中变色
a.VPLink.link.active{
	color: var(--vp-c-brand);
}

//左侧菜单
div.has-active{
	color: var(--vp-c-brand);
}


// //强调字体
.vp-doc :not(pre) > code{
	color: var(--vp-c-brand);
}

//引用色
/* 引用 */
.vp-doc blockquote {
	margin: 2em 0;
	padding: 24px 32px;
	background: var(--dora-bg-indigo);
	border-left: 2px solid var(--dora-border-indigo);
	position: relative;
  }
  
  .vp-doc blockquote::before {
	content: '❝';
	top: 8px;
	left: 8px;
	color: var(--dora-text-indigo-plus);
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
	position: absolute;
	opacity: 0.7;
  }
  
  .vp-doc blockquote::after {
	content: '❞';
	font-size: 30px;
	position: absolute;
	right: 8px;
	bottom: 0;
	color: var(--dora-text-indigo-plus);
	opacity: 0.7;
  }
  
  .vp-doc blockquote > p {
	color: var(--dora-text-indigo-plus);
  }

  //自定义info 自定义块颜色
  .custom-block.info {
	border-left: 1px solid var(--vp-c-brand) !important; /* 边框颜色 */
	background-color: transparent; /* 去掉背景颜色 */
  }

  //去掉原本的svg图
  .vp-doc .custom-block {
	&.info {
	  &:before {
		content: ' ';
	  }
	}
  }

  /* 新增信息容器:svg图 */
.custom-block.info [class*="custom-block-title"]::before {
    content: ' ';
	// background-image:none;
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23009400' d='M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z'/%3E%3C/svg%3E") !important;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 4px;
    left: -5px;
    top: -2px;
}

	/* 展开框 */
  .custom-block.details {
	border-left: 10px solid var(--vp-c-brand) !important; /* 边框颜色 */
  }

  /* 链接美化 */
  .vp-doc a {
	@apply hover:text-blue-500 after:hover:opacity-100 dark:hover:text-blue-400;
  }

  

/* .vitepress\theme\style\var.css */
/* 引用块 */
// .vp-doc blockquote {
// 	border-radius: 5px;
// 	padding: 10px 16px;
// 	background-color: var(--vp-badge-danger-bg);
// 	position: relative;
// 	border-left: 4px solid #e95f59;
// }

//最新版，nav变色
// .VPFlyout:hover{
// 	color: var(--vp-c-brand);
// }

// .VPFlyout.active{
// 	color: var(--vp-c-brand);
// }

//最新版，链接变色
// .vp-doc a:link{
// 	color: var(--vp-c-brand);
// }

//已访问链接颜色
.vp-doc a:visited{
	// color: var(--vp-c-brand)!important;
	// color: var(--vp-c-brand)!important;
	color: #57C3C2; 
	color: #69a794; 
}


.vp-doc a{
	color: var(--vp-c-brand);
	// --vp-c-brand: var(--vp-c-brand);

}

// a:link,a:visited{color: red;}
// a:hover{color:yellow;}
// a:active{color:gray;}




//最新版，右侧目录
.outline-link.active:visited{
	color: var(--vp-c-brand)!important;
}

.outline-link:hover, .outline-link.active{
	color: var(--vp-c-brand)!important;
}


//nav 首
.VPFlyout.active:hover .text{
	color: var(--vp-c-brand)!important;
}
.VPFlyout.active:visited .text{
	color: var(--vp-c-brand)!important;
}
.VPFlyout:hover{
	color: var(--vp-c-brand)!important;
}
.VPFlyout:visited{
	color: var(--vp-c-brand)!important;
}
// button{
// 	--hovered-color:var(--vp-c-brand)!important;
// }
.VPFlyout.active .text{
	color: var(--vp-c-brand)!important;
}


//左侧菜单
.VPSidebarItem.level-0.is-link > .item > .link:hover .text, 
.VPSidebarItem.level-1.is-link > .item > .link:hover .text, 
.VPSidebarItem.level-2.is-link > .item > .link:hover .text,
.VPSidebarItem.level-3.is-link > .item > .link:hover .text, 
.VPSidebarItem.level-4.is-link > .item > .link:hover .text,
.VPSidebarItem.level-5.is-link > .item > .link:hover .text{
	color: var(--vp-c-brand)!important;
}


.VPSidebarItem.level-0.is-link > .item > .link:visited .text, 
.VPSidebarItem.level-1.is-link > .item > .link:visited .text, 
.VPSidebarItem.level-2.is-link > .item > .link:visited .text,
.VPSidebarItem.level-3.is-link > .item > .link:visited .text,
.VPSidebarItem.level-4.is-link > .item > .link:visited .text,
.VPSidebarItem.level-5.is-link > .item > .link:visited .text {
	color: var(--vp-c-brand)!important;
}

//尾巴
.desc, .title{
	color: var(--vp-c-brand)!important;
}

.pager-link{
	color: var(--vp-c-brand)!important;
}

//首页home
button{
	--hovered-color: var(--vp-c-brand)!important;
}