/***** vitepress 样式覆盖 ******/

/* 大屏大一点 */
@media (min-width: 1440px) {
  .VPDoc.has-aside .content-container.content-container {
    max-width: 100%;
  }
}

/* nav 换行问题（6 个还是有点小多，后面看看怎么优化） */
@media (max-width: 1080px) {
  :root {
    --vp-sidebar-width: 260px;
  }
  .VPNav {
    // 借鉴 https://cn.vuejs.org 的处理
    .DocSearch-Button-Placeholder {
      display: none;
    }
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

//为了方便手机页面的效果，注释了
@media (max-width: 992px) {
  .VPNav {
    .VPNavBar {
      padding-left: 24px;
      padding-right: 24px;
    }
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}


// @media (max-width: 800px) {
//   .VPNav {
//     .VPNavBarSearch {
//       padding-left: 16px;
//     }
//     .VPNavBarMenuLink,
//     .VPNavBarMenuGroup .button {
//       padding-left: 6px;
//       padding-right: 6px;
//     }
//   }
// }

/* 版权信息 */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 自定义块样式 */
.custom-block .custom-block-title {
  font-size: 16px;
}
.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand);
}

/* 首页样式修改 */
.VPHero {
  .image-bg {
    opacity: 0.8;
    transition: opacity 1s ease;
  }
  .image-container:hover .image-bg {
    opacity: 0.4;
  }
}

table {
  width: 100% !important;
  display: table;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}
.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  // color: var(--vp-c-brand-lightest);
  color: var(--vp-c-brand)!important;
  // opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

//白昼主题切换动画 
/* dark/light radial transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}


* {
  /*--ms-滚动条--*/
  scrollbar-width: auto; // 滚动条宽度（默认值 auto，可选值 none thin）
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; // 第一个参数是滑块的颜色，第二个参数是滚动条背景的颜色

  /*-webkit-滚动条*/
  &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: transparent;
  }

  /*-webkit-滑块*/
  &::-webkit-scrollbar-thumb {
      height: 50px;
      outline-offset: -2px;
      outline: 2px white solid;
      border-radius: 4px;
      border: 2px transparent solid;
      background-color: rgba(0, 0, 0, 0.2);
  }

  /*-webkit-滑块hover效果*/
  &::-webkit-scrollbar-thumb:hover {
      height: 50px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .4);
  }

  /*-webkit-滚动框*/
  &::-webkit-scrollbar-track-piece {
      -webkit-border-radius: 0;
      background-color: transparent;
  }

  /* -webkit-滑轨 */
  &::-webkit-scrollbar-track {
      right: 0;
      background-color: transparent;
  }

  /* -webkit-滑轨两头的按钮 */
  &::-webkit-scrollbar-button {
      // display: none;
      height: 8px;
      width: 8px;
      background-color: transparent;
  }

  /* -webkit-边角 */
  &::-webkit-scrollbar-corner {
      background-color: transparent;
  }
}