/**
* 黑暗模式切换动画
* -------------------------------------------------------------------------- */
::view-transition-old(*) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-new(*) {
  animation: globalDark .8s ease-in;
  mix-blend-mode: normal;
}

@keyframes globalDark {
  from {
    clip-path: circle(0% at var(--darkX) var(--darkY));
  }
  to {
    clip-path: circle(100% at var(--darkX) var(--darkY));
  }
}

/**
* 黑暗模式下界面优化
* -------------------------------------------------------------------------- */
.dark {
  img,
  .weiz-icon {
    filter: brightness(0.8);
  }
  #about .about-nav li:first-child a {
    filter: brightness(0.8);
  }
}