// .vitepress/theme/styles/font.scss

@font-face {
	font-family: 'MapleMono';
	src: url('https://sakitinsu.resource.sawahara.host/assets/font/MapleMono-Medium.ttf.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--vp-font-family-base: 'Ubuntu', sans-serif; /* normal text font */
	--vp-font-family-mono: 'JetBrains Mono', monospace; /* code font */
}

/* 强制应用字体到所有元素 */
html,
body,
#app,
.VPDoc,
.VPContent,
.VPNav,
.VPNavBar,
.VPFooter,
.VPSidebar,
.VPDocAside,
.VPHomeHero,
.VPFeatures,
.custom-block,
.main,
.content,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--vp-font-family-base) !important;
}

pre,
code,
kbd,
samp,
.VPDoc pre,
.VPDoc code,
.VPContent pre,
.VPContent code,
.VPDocAside pre,
.VPDocAside code {
	font-family: var(--vp-font-family-mono) !important;
}
