.m-nav-layout {
  /* 覆盖全局的 vp-layout-max-width（仅当前页面使用 nav用的） */
  --vp-layout-max-width: 1660px;

  /* layout 样式 */
  .container {
    max-width: var(--vp-layout-max-width) !important;
  }
  
  .content-container,
  .content {
    max-width: 100% !important;
  }

  /* aside 样式 */
  .aside {
    padding-left: 0;
    max-width: 224px;
  }

  .content .copyright {
    display: none;
  }

  /* tip */
  .tip {
    .custom-block-title {
      display: none;
    }
    p {
      margin: 0;
    }
  }

  .vp-doc h2 {
    margin-top: 24px;
  }

  //导航下划线
  .m-nav-link {
    text-decoration :none;
  }

  .VPNav .VPNavBar{
    margin: 0px;
    padding: 0px;
  }

  .m-nav-link .title{
    color: var(--vp-c-text-1)!important;
  }


}
